
<% if @name %>
<h1> My name is: <%= @name %> </h1>
<% end %>
<div>
  <img style = "border: dashed red"; src="http://bit.ly/1eze8aE">
</div>
  <form action="/named-cat"> <!-- action attribute specifies where to send the form data when the form is submited -->
    <input type='text' name='name'> <!-- not wraaping content --> <!-- puts name is hash -->
    <input type='submit' value='submit'>
  </form>
<div>
